/* b: #009CBF o: #F75F00 g: #00A388 --tint-1: #333; --tint-2: #666; --tint-3: #999; --tint-4: #ccc; --tint-5: #e6e6e6; --tint-6: #f2f2f2; */
@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: .5rem;
  display: flex;
  flex-flow: column;
}
h1, p {
  margin: 0;
}
#map {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #333;
}
#water {
  fill: #333;
  pointer-events: none;
}
#touchscreen {
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0);
}
.suburb path {
  fill: white;
  stroke: #333;
}
.suburb text {
  text-anchor: middle;
  fill: white;
  font-size: .8rem;
  font-weight: bold;
  alignment-baseline: central;
  opacity: 0;
  pointer-events: none;
}
#footer {
  margin-top: .5rem;
  font-size: .9rem;
}
#header {
  position: fixed;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  right: 0;
  text-align: center;
  pointer-events: none;
}
#header h1 {
  padding: 3px 6px;
  font-size: 1.25rem;
  color: #01CFFF;
  background: #333;
}
#header p {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 2px 0;
  font-size: 1rem;
  border: solid 1px #333;
  transform: rotateX(90deg);
  transform-origin: top;
  background: white;
}
#legend {
  pointer-events: none;
}
#bar {
  fill: url(#gradient);
  stroke: white;
}
#legendBackground {
  fill: rgba(0, 0, 0, .25);
}
.domain {
  stroke: none;
}
.tick line {
  stroke: white;
}
.tick text {
  fill: white;
  font-weight: bold;
  font-size: .75rem;
}
#tip {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  padding: 3px 6px;
  background: rgba(0, 0, 0, .75);
  transform: translate(-50%, -50%);
}
#tip h1, #tip p {
  font-size: .9rem;
  margin: 0;
  color: white;
}
#tip h1 {
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  color: #FFB300;
  font-size: 1.1rem;
}
@media only screen and (max-width: 500px) {
  .suburb text {
    font-size: .7rem;
  }
  #footer {
    font-size: .75rem;
  }
  #header h1 {
    padding: 2px 4px;
    font-size: 1rem;
  }
  #header p {
    padding: 2px 0;
    font-size: .9rem;
  }
  .tick text {
    font-size: .7rem;
  }
  #tip {
    padding: 2px 4px;
  }
  #tip h1, #tip p {
    font-size: .8rem;
  }
  #tip h1 {
    font-size: .9rem;
  }
}
